body{
    background-color: cadetblue;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    background-color: rgb(8, 137, 38);
    margin-left: 20%;
    margin-right: 20%;
}

label{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    font-size: 30px;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
